 /*.gg{
    background-color: aqua;
    color: blue;
    height: 100px;
    width: 320px;
    text-align: justify;
    text-transform: uppercase;
    text-indent: 30px;
    border-color: brown;
    border-width: 165px;
    border-style: double;
    border: 10px solid green;
    margin: 100px;
    padding: 40px;
    /*outline: 120px double blue;*/
    /*letter-spacing: 10px;*/


   /* background-color: aqua;
    color: blue;
    height: 100px;
    width: 320px;
    border: 10px solid green;
    margin: 400px;
    padding: 10px;
    outline: 120px double blue;
}*/

#first {
    width: 300px;
    height: 300px;
    padding: 60px;
    background: red;
    position: relative;
  }
  #first #second {
    width: 70%;
    height: 70%;
    background: green;
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-100%, -100%);
  }